<!DOCTYPE html>
<html ng-app="sep5">
	<head>
		<title></title>
	</head>
<body ng-controller="ejemplo">
	<button ng-click="multiplicacion()">multiplicar</button>
	<h1>el resultado es:{{resultado}}</h1>
	<button ng-click="suma()">sumar</button>
	<h1>el resultado es:{{total}}</h1>
	<button ng-click="resta()">restar</button>
	<h1>el resultado es:{{dato}}</h1>
	<button ng-click="divicion()">dividir</button>
	<h1>el resultado es:{{igual}}</h1>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<script src="script.js"></script>
</body>

</html>